{% extends "base.html" %}

{% block content %}

<div class="card">

    <h1>Balances</h1>

    <h3>{{ group.name }}</h3>

    <table class="balance-table">

        <thead>

            <tr>

                <th>Member</th>
                <th>Status</th>

            </tr>

        </thead>

        <tbody>

        {% for balance in balances %}

            <tr>

                <td>{{ balance.user_name }}</td>

                <td>

                {% if balance.amount > 0 %}

                    <span class="positive">

                        Gets back
                        ₹{{ "%.2f"|format(balance.amount) }}

                    </span>

                {% elif balance.amount < 0 %}

                    <span class="negative">

                        Owes
                        ₹{{ "%.2f"|format(-balance.amount) }}

                    </span>

                {% else %}

                    <span class="neutral">

                        Settled Up

                    </span>

                {% endif %}

                </td>

            </tr>

        {% endfor %}

        </tbody>

    </table>


    
    
    <h2>Simplified Payments</h2>
    

    {% if simplified_payments %}
    
    <table class="balance-table">
        
        <thead>
            
            <tr>
                
                <th>Payer</th>
                <th></th>
                <th>Receiver</th>
                <th>Amount</th>
                <th></th>
                
            </tr>
            
        </thead>
        
        <tbody>
            
            {% for payment in simplified_payments %}
            
            <tr>
                
                <td>{{ payment.payer_name }}</td>
                
                <td>owes</td>
                
                <td>{{ payment.receiver_name }}</td>
                
                <td>
                    
                    ₹{{ "%.2f"|format(payment.amount) }}
                    
                </td>
                
                <td>
                    
                    <a
                    class="btn btn-primary"
                        href="{{ url_for(
                            'settlement.settle',
                            groupid=group.id,
                            payer_id=payment.payer_id,
                            receiver_id=payment.receiver_id,
                            amount=payment.amount
                        ) }}">

                        Settle Up

                    </a>

                </td>

            </tr>

        {% endfor %}

    </tbody>
    
</table>

{% else %}

<p>Everyone is settled up! 🎉</p>

{% endif %}

<div class="button-row">

    <a
        class="btn"
        href="{{ url_for('group.group', groupid=group.id) }}">

        ← Back to Group

    </a>

</div>

</div>

{% endblock %}