{% extends "base.html" %}

{% block content %}

<div class="card">

    <h1>Create Group</h1>

    <form method="POST"
          action="{{ url_for('group.creategroup') }}">

        {{ form.hidden_tag() }}

        <div>

            {{ form.group_name.label }}

            {{ form.group_name(
                class="form-control",
                placeholder="Enter Group Name"
            ) }}

            {% for error in form.group_name.errors %}
                <p class="error">
                    {{ error }}
                </p>
            {% endfor %}

        </div>

        <button type="submit">
            {{ form.submit.label.text }}
        </button>

    </form>


    <div class="group-actions">

        <a class="btn"
        href="{{ url_for('dashboard.dashboard') }}">
            ← Dashboard
        </a>

    </div>

</div>

{% endblock %}