{% extends "base.html" %}

{% block content %}

<h1>Dashboard</h1>

<p>Welcome, {{ user.name }}</p>

<h2>Your Groups</h2>

{% if user.group_memberships %}
    <ul>
        {% for membership in user.group_memberships %}
            <li>
                <a href="{{ url_for('group.group', groupid=membership.group.id) }}">
                    {{ membership.group.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You are not a member of any groups.</p>
{% endif %}

<p>
    <a href="{{ url_for('group.joingroup')}}">
        <button>Join Existing Group</button>
    </a>
    <a href="{{ url_for('group.creategroup') }}">
        <button>Create Group</button>
    </a>
</p>

{% endblock %}