{% extends "base.html" %}

{% block content %}

<div class="card auth-card">

    <h2>Login</h2>

    <form method="POST">

        {{ form.hidden_tag() }}

        <div>
            {{ form.email(
                class="form-control",
                placeholder="Email"
            ) }}

            {% for error in form.email.errors %}
                <p class="error">
                    {{ error }}
                </p>
            {% endfor %}
        </div>


        <div>
            {{ form.password(
                class="form-control",
                placeholder="Password"
            ) }}

            {% for error in form.password.errors %}
                <p class="error">
                    {{ error }}
                </p>
            {% endfor %}
        </div>


        <button type="submit">
            {{ form.submit.label.text }}
        </button>

    </form>


    <p>
        Don't have an account?
        <a href="{{ url_for('auth.register') }}">
            Register
        </a>
    </p>

</div>

{% endblock %}